
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
            Moto Shop
    </title>
</head>
<body>
        <h1> Pasha's online shop of genius parts </h1>
        <h3> Доступные категории товаров: </h3>
    {% for category in categories %}
        <a href="category/{{ category.0 }}">
            <h2>{{category.1}}</h2>
        </a>
    {% endfor %}
</body>
</html>

<!--{% block body %}-->
<!--    <h1> MY INTERNET SHOP </h1>-->
<!--    {% for category in categories %}-->
<!--        <a href="category/{{ category.0 }}">-->
<!--            <h2>{{category.1}}</h2>-->
<!--        </a>-->
<!--    {% endfor %}-->
<!--{% endblock %}-->




<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Главная страница</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Приветствую вас</h1>-->

<!--    {% for person in persons %}-->
<!--    <p>-->
<!--    <h4>Имя: <a href="{{person.name}}">{{person.name}}</a></h4>-->
<!--        <h4>Возраст: {{person.age}}</h4>-->
<!--        <h4>Хобби: {{person.hobby}}</h4>-->

<!--        {% if person.age < 18 %}-->
<!--            <h5>The person is younger than 18</h5>-->
<!--        {% else %}-->
<!--            <h5>The person is adult</h5>-->
<!--        {% endif %}-->
<!--    </p>-->
<!--    <br>-->
<!--    {% endfor %}-->
<!--</body>-->
<!--</html>-->